.bg-scale-sm {
  background-size: 100%;
  transition: background-size 0.3s ease-in-out;
}

.bg-scale {
  background-size: 140%;
  transition: background-size 0.3s ease-in-out;
}

@media screen and (min-width: 768px) {
  .bg-scale-sm:hover {
    background-size: 130%;
  }

  .bg-scale:hover {
    background-size: 160%;
  }
}
